@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: helvetica, Tahoma, sans-serif;
  background-color: #EEE;
}

h1,
h2,
h3 {
  font-family: "Raleway", helvetica, Tahoma, sans-serif;
  margin: 0;
}

a {
  color: #B74C34;
}

a:hover,
a:focus {
  text-decoration: none;
}

.container {
  height: 100%;
  display: flex;
  flex-flow: column;
  background: linear-gradient(#2D3F4A, #406376);
  background-repeat: no-repeat;
  background-size: 100% 60%;
}

.content {
  padding: 1em;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

header {
  color: #EEE;
}

form {
  width: 100%;
  text-align: center;
}

input,
button {
  font-size: inherit;
  padding: 0.5em;
  border-radius: 5px;
  border-style: solid;
  border-color: transparent;
  display: block;
  width: 100%;
}

input:focus {
  border-color: #B74C34;
}

button {
  color: #EEE;
  background-color: #B74C34;
}

button:hover,
button:focus,
button:active {
  background-color: #A73C24;
}

.spinner {
  font-size: 1.5em;
  animation-name: spin;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.message {
  background-color: #EEE;
  border-radius: 5px;
  margin-top: 1em;
  border: 2px solid #DB9;
  width: 100%;
}

@media (min-width: 480px) {
  input,
  button {
    display: inline-block;
  }

  input {
    padding-right: 50px;
    width: 300px;
  }

  button {
    margin-left: -50px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: auto;
  }

  .message {
    width: 330px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
